@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; transform: scaleX(-50px); }
  }
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 

 html {
    scroll-behavior: smooth;
  }

a:link, a:visited{
    color: #11999E;
    text-decoration: none;
}
a:hover{
    color: aquamarine;
    text-decoration: none;
}
a:active{
    color: none;
    text-decoration: none;
}

body{
    margin: 0;
    text-align: center;

}
.btn:link, .btn:visited{
    position: relative;
    top: 10px;
    font-weight: 50;
    font-family: 'Merriweather', serif;
    padding: 14px 25px;    
    border-radius: 20px;
    background-color: #aaaaaa;
}
.btn:hover, .btn:active{
    background-color: #40514E;
}
h3{
    font-weight: 200;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: #11999E;
}
h2{
    animation: fadeIn 3.5s ease-in;
    font-weight: 300;
    font-size: 25px;
    font-family: 'Merriweather', serif;
    color:  #66BFBF;
}
h1{
    animation: fadeIn 2.5s ease-in;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color:  #66BFBF;
}
p{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar{
    position: absolute;
    background-color: #3edee4;
    width: 100% ;
    height: 50px;
    padding-top: 10px;
    top: 0px;
    position: fixed;
    z-index: 99;
}
.li{
    text-align: right;
    font-size: 20px;
    color: #40514E;
    font-family: 'Merriweather', serif;
    line-height: 2.5;
    
}
.top-container{
    margin-top: 50px;
    padding-top: 200px;
    background-color: #E4F9F5;
}
hr{
    border-style: none; 
    border-top-style: dotted;
    border-color: #a9acab;
    border-width: 10px;
    width: 5%;
}
.middle-container{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:  #E4F9F5;
    line-height: 2;
}

.bottom-container{
    padding-top: 30px ;
    margin-bottom: 0;
    background-color: #60726f;
    line-height: 2;
    padding-bottom: 10px;
}
.pic{
    border-style: none;
    border-width: 10px;
    border-color: aqua;
    height: 200px;
    width: 200px;
}
.developement{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.hack{
    border-width: 10px;
    border-color: aqua;
    height: 200px;
    width: 200px;
}
.mount{
    animation: fadeIn 0.5s ease-in;
}
.cloud1{
    animation: fadeIn 0.5s ease-in;
    position: absolute;
    top: 150px;
    right: 250px;
}
.cloud2{
    animation: fadeIn 0.5s ease-in;
    position: absolute;
    left: 250px;
}
.profile{
    opacity: 0.1;
    transition:  opacity 0.5s linear;
    padding-top: 100px;
    padding-bottom: 100px;
}
.profile:hover{
    visibility: visible;
    opacity: 1;
}
.skill-row1{
    opacity: 0.1;
    transition:  opacity 0.5s linear;
    padding-top: 100px;
    padding-bottom: 100px;
}
.skill-row1:hover{
    visibility: visible;
    opacity: 1;
}
.skill-row2{
    
    /* visibility: hidden; */
    opacity: 0.1;
    transition:  opacity 0.5s linear;
    padding-bottom: 100px;
}
.skill-row2:hover{
   
    padding-bottom: 100px;
    visibility: visible;
    opacity: 1;
 
}

.ms{
    position: relative;
    top: 70px;
}
.contact-me{
    opacity: 0.1;
    transition:  opacity 0.5s linear;
    padding-top: 50px;
    padding-bottom: 20px;
}
.contact-me:hover{
  opacity: 1;
}
.ab:link, .ab:visited{
    position: relative;
    right: 220px;
    bottom: 3px;
    color: #259ea7;
}
.ab:hover{
    color:#40514E
}
.sk:link, .sk:visited{
    position: relative;
    right: 120px;
    bottom: 3px;
    color:#259ea7;
}
.sk:hover{
    color:#40514E
}
.co:link, .co:visited{
    position: relative;
    right: 50px;
    bottom: 3px;
    color:#259ea7;
}
.co:hover{
    color:#40514E;
}



